@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight/InterTight-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@keyframes scroll {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 5s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
